{
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "angular": true
    },
    "rules": {
        "camelcase": 1,
        "curly": 1,
        "brace-style": [2, "1tbs"],
        "quotes": ["warn", "double"],
        "semi": [2, "always"],
        "object-curly-spacing": [1, "always"],
        "array-bracket-spacing": [1, "never"],
        "computed-property-spacing": [1, "never"],
        "space-infix-ops": 2
    }
}